body {
    width: 100%;
    height: 629px;
    background-color: #EEF9BF;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    text-transform: uppercase;
    line-height: 66px;
    letter-spacing: -0.4%;

}

.game-title {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-shape {
    width: 200px;
    height: 250px;
    margin: 35px;
    position: relative;
}

.card-basic-visual {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    transform-style: preserve-3d;
}

.back-face img {
    width: 120px;
}

.front-face {
    transform: rotateY(-180deg);
}

.back-face {
    transform: rotateY(0deg);
}

.turn-card {
    transform: rotateY(180deg);
}